html {
  font-size: 87.5%;
  height: min-content;

  @include bp($bp-large) {
    font-size: 75%;
  }

  @include bp($bp-very-small) {
    font-size: 68.8%;
  }
}

body {
  height: 100%;
  background-color: $background-primary;
}

.app {
  height: 100%;
  max-width: 102.857rem;
  margin: 0 auto;
  display: grid;
  gap: $grid-gutter;
  padding: 3.5rem $grid-gutter;

  @include bp($bp-medium) {
    gap: $grid-gutter-small;
    padding: $grid-gutter-small;
  }
}
