body {
  font-family: "SF Pro Display", sans-serif;
  font-weight: 400;
  color: $text-primary;
}

.t-text-success {
  color: $accent-success !important;
}

.t-text-danger {
  color: $accent-danger !important;
}

@mixin heading {
  font-size: 1.429rem;
  font-weight: 500;
  line-height: 1.714rem;
}
